@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

/* Reset CSS */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Press Start 2P', cursive;
  line-height: 1.5;
  background: rgb(2, 0, 36);
  background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
}

img {
  flex: 1;
  max-width: 100%;
  height: auto;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(2, 0, 36);
  background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 35%, rgba(0, 212, 255, 1) 100%);
  padding: 1rem;
}

.header__nav {
  display: flex;
}

.header__nav--lista {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.header__nav--item {}

.header__nav--link {
  text-decoration: none;
  padding: 1em;
  font-size: 1em;
  -webkit-text-stroke: 0.6px black;
  color: rgb(246, 248, 249);
  font-weight: bold;
  text-align: center;
}

.header__nav--link:hover {
  color: red;
}

/* Fin Header*/

/* Body */
.contenedor {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 30px 0;
  width: 90%;
  max-width: 1500px;
  margin: auto;
  overflow: hidden;
}

/* Principal */
.principal {
  background-image: url("../img/bg-principal.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: contain;
  background-size: cover;
}

.principal__texto {
  max-width: 50%;
}

.principal__texto--titulo {
  -webkit-text-stroke: 0.6px rgb(255, 255, 255);
  color: black;
  padding: 1em;
}

.principal__texto--parrafo {
  color: white;
  padding: 1em;
}

.principal__imagen {
  max-width: 50%;
  padding: 3em;
  position: relative;
  animation-name: levitation;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes levitation {
  from { top: 0; }
  to { top: -20px; }
}
/* Fin Principal*/
/* Fin Body